@import "tailwindcss";

:root {
  --background: #fcfaf8;
  --foreground: #111111;
  --dot-color: rgba(0, 0, 0, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}



body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(var(--dot-color) 1.5px, transparent 1.5px);
  background-size: 36px 36px;
  background-position: 0 0;
  overflow-x: hidden;
}